modules = ["nodejs-20", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["git", "maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar target/java-migration-service-1.0.0.jar"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
